{extend name="layout" /}

{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-header bg-gray-lighter">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                    </li>
                    <li>
                        <button type="button" data-toggle="block-option" data-action="close"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">{$page_title|default=""}</h3>
            </div>

            <div class="block-content tab-content">
                <div class="tab-pane active">
                    <div class="block-content">
                        <form class="form-horizontal form-builder" action="{:url('export')}" method="get">
                            <input type="hidden" name="name" value="{$Request.param.name|default=''}">
                            <div class="form-group " id="form_group_group">
                                <h4 class="col-xs-12 push-10">是否导出数据</h4>
                                <div class="col-xs-9">
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="export_data" id="clear1" value="0">
                                        <span></span> 否
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="export_data" id="clear2" value="1" checked="">
                                        <span></span> 是
                                    </label>
                                    <div class="help-block">
                                        选择“否”，只导出数据表结构。选择“是”，导出该模块的所有数据
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-minw btn-primary" type="submit" id="uninstall">
                                    导出
                                    </button>
                                    <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">
                                        返回
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
