{extend name="layout" /}

{block name="content"}
<link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css">

<label class="layui-form-label" style="width: auto;">
    <button type="button" class="layui-btn layui-btn-sm">手工结算</button>
</label>

<div class="block-content" style="background-color: #fff;">
    <table class="layui-table">
       
        <thead>
            <tr>
                <th>序号</th>
                <th>步骤名称说明</th>
                <th>状态</th>
                <th>完成时间</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>结算开始</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td>抽取电脑凭证</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>归属流水及凭证日期</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>将凭证记入会计账簿</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>结算账户</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>生成客户总账</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>归档历史表</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td>生成交易商清算资金数据</td>
                <td>未执行</td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>结算完成</td>
                <td>未执行</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>





<script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script>

{/block}