{extend name="layout" /}

{block name="content"}
<!-- <link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css"> -->
<link rel="stylesheet" href="__STATIC__/admin/voucherstyle/tables.css">
<style>
    .layui-form-label{
        width: 120px;
    }
    .layui-form-item .layui-input-inline{
        /* width: 300px; */
    }
    .formbody{
        /* width: 1300px; */
        margin: 50px auto;
    }
    .form-navlist{
        display: flex;
        justify-content: space-between;
    }
    .form-navlist div:nth-of-type(1){
        text-align: center;
    }
    .form-navlist div{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: rgb(255,204,153);
    }
    .form-list{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .form-list div{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .form-list .layui-input{
        /* margin-left: 70px; */
    }
    .form-bottom{
        border: 1px solid gray;
        height: 500px;
    }
    .form-scroll{
        height: 435px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .form-allprice{
        display: flex;
        justify-content: space-around;
    }
    .form-listfirst{
        width: 50%;
    }
    .form-btn-change{
        text-align: right;
        margin-top: 40px;
        margin-right: 50px;
    }
    .form-btn-change button{
        margin: 0 10px;
        border: none;
        padding: 5px 10px;
        color: #FF0000;
        background-color: rgb(255,204,153);
    }
    .zizhibtn button{
        border: none;
        padding: 5px 10px;
        color: #000;
        background-color: rgb(255,204,153);
    }
    .aaaaa{}
</style>
<label class="layui-form-label" style="width: auto;">添加凭证</label>
<div class="block-content" style="background-color: #fff;">

    <form class="layui-form" action="" method="POST">

        <div class="formbody">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">凭证日期：</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" value="<?php echo date('Y-m-d'); ?>" disabled>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">凭证摘要号：<span style="color: red;">*</span></label>
						<div class="layui-input-inline">
                            <input type="text" class="layui-input" name="abstract_num">
                            <input type="hidden" name="abstract_id">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">凭证摘要：<span style="color: red;">*</span></label>
						<div class="layui-input-inline">
                            <input type="text" name="abstract_name" autocomplete="off" class="layui-input" disabled>
						</div>
						<div class="layui-input-inline zizhibtn">
                            <button type="button" id="change_abstract">选择</button>
                        </div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">合同号：</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="contract_code">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">附加说明：</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="remarks">
						</div>
					</div>
				</div>

				<div class="form-bottom">
					<div class="form-navlist">
						<div class="form-listfirst">
							<input type="checkbox" id="all">
						</div>
						<div>分录摘要</div>
						<div>科目代码</div>
						<div>科目名称</div>
						<div>借方金额</div>
						<div>贷方金额</div>
					</div>

					<div class="form-scroll">
						<div class="form-list">
							<div class="form-listfirst">
								<input type="checkbox" name="ckb">
							</div>
							<div class="layui-input-inline">
								<input type="text" class="layui-input entry_abstract" name="entry_abstract[]">
							</div>
							<div class="layui-input-inline">
								<input type="text" class="layui-input subject_code" name="subject_code[]">
								<input type="hidden" class="layui-input subject_id" name="subject_id[]">
							</div>
							<div class="layui-input-inline">
								<input type="text" class="layui-input subject_name" name="subject_name[]" disabled>
							</div>
							<div class="layui-input-inline">
								<input type="text" class="layui-input borrow_money" name="borrow_money[]">
							</div>
							<div class="layui-input-inline">
								<input type="text" class="layui-input loan_money" name="loan_money[]">
							</div>
						</div>
					</div>

					<div class="form-allprice">
						<div>总计：</div>
						<div class="price1">0.00</div>
						<div class="price2">0.00</div>
					</div>
				</div>

			</form>
			<div class="form-btn-change">
				<button type="button" id="addtable">增加分录</button>
				<button type="button" id="deleteable">删除分录</button>
				<button type="button" id="submit_from">添加</button>
				<!-- <button>返回</button> -->
			</div>
		</div>

</div>

<script src="__STATIC__/admin/voucherstyle/jquery.js"></script>
<!-- <script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script> -->
<script src="__STATIC__/index/layer/layer.js?v={:config('asset_version')}"></script>
<script>
    var is_abstract = false;
    var is_subject = false;

    // 凭证摘要号失去焦点
    $('input[name="abstract_num"]').blur(function(){
        var abstract_num = $('input[name="abstract_num"]').val();
        if(abstract_num == '' || abstract_num == null){
            is_abstract = false;
            $('input[name="abstract_id"]').val('');
            $('input[name="abstract_num"]').val('');
            $('input[name="abstract_name"]').val('');
            layer.msg('请填写凭证摘要号', {icon: 2}); return false;
        }

        var data = {
            abstract_num: abstract_num
        };

        $.post('{:url("financial_main/get_abstract")}', data, function(res){
            // console.log(res)
            if(res.data == ''){
                is_abstract = false;
                $('input[name="abstract_id"]').val('');
                $('input[name="abstract_num"]').val('');
                $('input[name="abstract_name"]').val('');
                layer.msg('凭证摘要号不存在', {icon: 2}); return false;
            }else{
                is_abstract = true;
                $('input[name="abstract_id"]').val(res.data.id);
                $('input[name="abstract_num"]').val(res.data.abstract_num);
                $('input[name="abstract_name"]').val(res.data.abstract_name);
            }
        }, 'json')
    })

    // 科目代码失去焦点
    $(document).on("blur", ".subject_code", function () {
        var that = this;
        var subject_code = $(this).val();
        if(subject_code == '' || subject_code == null){
            is_subject = false;
            $(that).siblings('.subject_id').val('')
            $(that).parent().next().find('.subject_name').val('');
            layer.msg('请填写科目代码', {icon:2}); return false;
        }
        var data = {
            subject_code: subject_code
        };

        $.post('{:url("financial_main/get_subject")}', data, function(res){
            if(res.data){
                is_subject = true;
                $(that).siblings('.subject_id').val(res.data.id)
                $(that).parent().next().find('.subject_name').val(res.data.subject_name);

            }else{
                is_subject = false;
                $(that).siblings('.subject_id').val('')
                $(that).parent().next().find('.subject_name').val('');
                layer.msg('不存在的科目代码', {icon:2}); return false;
            }
        }, 'json')
    })

    // 借方资金失去焦点
    $(document).on("blur", ".borrow_money", function () {
        
        var borrow_money = 0;

        $(".form-list").each(function() {
            var _this_money = $(this).find('.borrow_money').val();
            if(_this_money == '' || _this_money == null){
                _this_money = 0
            }
            borrow_money = (parseFloat(borrow_money) + parseFloat(_this_money)).toFixed(2)
        });

        $(".price1").text(borrow_money)
    })

    // 贷方资金失去焦点
    $(document).on("blur", ".loan_money", function () {

        var loan_money = 0;

        $(".form-list").each(function() {
            var _this_money = $(this).find('.loan_money').val();
            if(_this_money == '' || _this_money == null){
                _this_money = 0
            }
            loan_money = (parseFloat(loan_money) + parseFloat(_this_money)).toFixed(2)
        });

        $(".price2").text(loan_money)
    })


    $("#addtable").click(function() {
        var tables = $(".form-scroll");
        var addtable = $("<div class='form-list'>" +
            "<div class='form-listfirst'>" + "<input type='checkbox' name='ckb'/>" + "</div>" +
            "<div class='layui-input-inline'>" + "<input type='text' class='layui-input entry_abstract' name='entry_abstract[]'>" + "</div>" +
            "<div class='layui-input-inline'>" + "<input type='text' class='layui-input subject_code' name='subject_code[]'><input type='hidden' class='subject_id' name='subject_id'>" + "</div>" +
            "<div class='layui-input-inline'>" + "<input type='text' class='layui-input subject_name' name='subject_name[]' disabled>" + "</div>" +
            "<div class='layui-input-inline'>" + "<input type='text' class='layui-input borrow_money' name='borrow_money[]'>" + "</div>" +
            "<div class='layui-input-inline'>" + "<input type='text' class='layui-input loan_money' anme='loan_money[]'>" + "</div>" +
            "</div>");
        
        is_subject = false;
        addtable.appendTo(tables);

    });

    $("#deleteable").click(function() {
        $("input[name='ckb']:checked").each(function() { // 遍历选中的checkbox
            if ($(".form-list").length == 1) {
                layer.msg('最少保留一条数据', {icon: 2}); return false;
            }
            // n = $(this).parents(".form-list").index(); // 获取checkbox所在行的顺序
            $(".form-scroll").find(".form-list:eq(" + 1 + ")").remove();
        });
    });
    
    $("#all").on('click',function() {  
        $("input[name='ckb']").prop("checked", this.checked);  
    });
    
    $("input[name='ckb']").on('click',function() {  
        var $subs = $("input[name='ckb']");  
        $("#all").prop("checked" , $subs.length == $subs.filter(":checked").length ? true : false);  
    }); 

    $('#submit_from').click(function(){
        if(is_abstract === false){
            layer.msg('请填写凭证摘要号', {icon:2}); return false;
        }
        if(is_subject === false){
            layer.msg('请填写科目代码', {icon:2}); return false;
        }

        var abstract_id = $('input[name="abstract_id"]').val();
        var contract_code = $('input[name="contract_code"]').val();
        var remarks = $('input[name="remarks"]').val();

        if(abstract_id == '' || abstract_id == null){
            layer.msg('请填写凭证摘要号', {icon:2}); return false;
        }

        var _from_data = [];

        $(".form-list").each(function() {
            var _this_data = {};
            var entry_abstract = $(this).find('.entry_abstract').val();
            var subject_id = $(this).find('.subject_id').val();
            if(subject_id == '' || subject_id == null){
                layer.msg('请填写科目代码', {icon: 2}); return false;
            }
            // var subject_code = $(this).find('.subject_code').val();
            // var subject_name = $(this).find('.subject_name').val();
            var borrow_money = $(this).find('.borrow_money').val();
            var loan_money = $(this).find('.loan_money').val();
            if(borrow_money == '' || borrow_money == null){
                borrow_money = 0
            }
            if(loan_money == '' || loan_money == null){
                loan_money = 0
            }
            _this_data = {
                entry_abstract: entry_abstract,
                subject_id: subject_id,
                borrow_money: borrow_money,
                loan_money: loan_money,
            }
            _from_data.push(_this_data);
            
        });

        var data = {
            abstract_id: abstract_id,
            contract_code: contract_code,
            remarks: remarks,
            from_data: _from_data
        };

        $.post('{:url("add_voucher")}', data, function(res){
            if(res.code == 1){
                layer.msg(res.msg, {icon: 1});
                setTimeout(()=>{
                    window.location.href = '{:url("voucher/voucher_list")}';
                }, 1000);
            }else{
                layer.msg(res.msg, {icon: 2}); return false;
            }

        }, 'json');

    })

</script>

{/block}