{extend name="layout" /}

{block name="content"}
<link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css?v={:config('asset_version')}">
<style>
    .files {
        width: 100%;
        padding-left: 15px;
        /* display: none; */
    }
    .files span{
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

</style>

<div class="layui-card-body">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding:20px 20px 0px 0px;">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">交易所文件报送</label>
            <div class="block-content tab-content" style="background-color: #fff;">
                <div class="tab-pane active">
                    <div class="block-content">
                        <form class="form-horizontal form-builder" action="" method="post">

                            <!-- <div class="form-group">
                                <label class="col-xs-12 push-10">报送文件类型</label>
                                <div class="col-xs-9">
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_type" value="I2" checked>
                                        <span></span> 成交数据文件
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_type" value="I3">
                                        <span></span> 资金余额文件
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_type" value="I6">
                                        <span></span> 持仓明细文件
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_type" value="I9">
                                        <span></span> 外部费用明细文件
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_type" value="IB">
                                        <span></span> 结算价文件
                                    </label>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-xs-12 push-10">重要表示</label>
                                <div class="col-xs-9">
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_resend" value="0" checked>
                                        <span></span> 否
                                    </label>
                                    <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r">
                                        <input type="radio" name="f_resend" value="1">
                                        <span></span> 是
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label class="col-xs-12" for="f_start_time">开始时间</label>
                                <div class="col-xs-12">
                                    <input class="js-datetimepicker form-control" type="text" id="f_start_time" name="f_start_time" value="" placeholder="YYYY-MM-DD HH:mm" readonly>
                                </div>
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label class="col-xs-12" for="f_end_time">结束时间</label>
                                <div class="col-xs-12">
                                    <input class="js-datetimepicker form-control" type="text" id="f_end_time" name="f_end_time" value="" placeholder="YYYY-MM-DD HH:mm" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-minw btn-primary sublimt" type="button">清算</button>
                                    <button class="btn btn-minw btn-success submit_qs" type="button" style="display: none;">清算完成</button>
                                    <button class="btn btn-minw btn-info submit_file" type="button">提交</button>
                                    <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
                                </div>
                            </div>
                            <div class="form-group files">
                                <span class="file_0" style="display: none;" title="成交数据文件">成交数据文件</span>
                                <span class="file_1" style="display: none;" title="资金余额文件">资金余额文件</span>
                                <span class="file_2" style="display: none;" title="持仓明细文件">持仓明细文件</span>
                                <span class="file_3" style="display: none;" title="外部费用明细文件">外部费用明细文件</span>
                                <span class="file_4" style="display: none;" title="结算价文件">结算价文件</span>
                                <span class="file_5" style="display: none;" title="银行出入金文件">银行出入金文件</span>
                                <span class="file_6" style="display: none;" title="银行手续费文件">银行手续费文件</span>
                            </div>
                            <div id="qsdiv" style="display: none;">
                                <div id="qssuccess" style="display: none;"></div>
                                <table id="qingsuan" lay-filter="qingsuan" style="display: none;"></table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/index/layui/layui.js?v={:config('asset_version')}"></script>
<script>
    layui.use(['layer', 'laydate', 'jquery', 'table'], function(){
        var laydate = layui.laydate,
        layer = layui.layer,
        table = layui.table,
        $ = layui.jquery;

        laydate.render({
            elem: '#f_start_time',
            // format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: '<?php echo date("Y-m-d 00:00:00")?>'
        });

        laydate.render({
            elem: '#f_end_time',
            // format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: '<?php echo date("Y-m-d 00:00:00", strtotime("+1 day"))?>'
        });



        // 清算
        $('.sublimt').click(function(e){
            var f_resend = $('input[name="f_resend"]:checked').val();
            var f_start_time = $('input[name="f_start_time"]').val();
            var f_end_time = $('input[name="f_end_time"]').val();

            var data = {
                file_type: 0,
                f_resend: f_resend,
                f_start_time: f_start_time,
                f_end_time: f_end_time,
            };
            var layIndex = layer.load();
            $.post('{:url("set_file")}', data, function(res){
                
                layer.close(layIndex);
                set_file(res, data);
       
            }, 'json')
        })

        // 清算文件
        function set_file(res, data){
            if(res.code == 1){
                $('.file_'+data.file_type).show();
                $('.file_'+data.file_type).html($('.file_'+data.file_type).attr('title') + ' ' + res.msg);

                data.file_type = data.file_type + 1;

                var layIndex = layer.load();

                $.post('{:url("set_file")}', data, function(res){
                    layer.close(layIndex);
                    set_file(res, data);
                }, 'json')
                
            }else if(res.code == 200){
                layer.close(layIndex);

                $('.file_5').show();
                $('.file_6').show();
                $('.file_5').html($('.file_5').attr('title') + ' 已清算');
                $('.file_6').html($('.file_6').attr('title') + ' 已清算');

                create_file(res, data);

                // $('.submit_qs').show();
                // if(res.count > 0){
                //     $('#qsdiv').show();
                //     $('#qingsuan').show();
                //     table.render({
                //         elem: '#qingsuan',
                //         url: '{:url("getQingsaunData")}',
                //         // height: 315,
                //         page: true,
                //         limit: 20,
                //         cols: [[
                //             {field: 'm_account', title: '交易账号'},
                //             {field: 'm_balance', title: '账户余额'},
                //             {field: 'ye', title: '清算余额'}
                //         ]]
                //     });
                // }else{
                //     $('#qsdiv').show();
                //     $('#qssuccess').show();
                //     $('#qssuccess').html('清算成功');
                // }
                
                // layer.msg(res.msg, {icon:1})
            }else{
                layer.close(layIndex);
                layer.msg(res.msg, {icon:2})
            }
        }

        // 重新生成文件
        function create_file(res, data)
        {
            if(res.code == 200 || res.code == 1){
                data.set_file = 1; // 生成文件
                if(data.file_type > 4){
                    data.file_type = 0;
                }else{
                    data.file_type = data.file_type + 1;
                }
                // console.log(data)

                var layIndex = layer.load();

                $.post('{:url("set_file")}', data, function(res){
                    layer.close(layIndex);
                    create_file(res, data);
                }, 'json')
                
            }else if(res.code == 201){
                layer.close(layIndex);

                $('.submit_qs').show();
                if(res.count > 0){
                    $('#qsdiv').show();
                    $('#qingsuan').show();
                    table.render({
                        elem: '#qingsuan',
                        url: '{:url("getQingsaunData")}',
                        page: true,
                        limit: 20,
                        limits: [20],
                        cols: [[
                            {field: 'm_account', title: '交易账号'},
                            {field: 'm_balance', title: '账户余额'},
                            {field: 'qsye', title: '清算余额'}
                        ]]
                    });
                }else{
                    $('#qsdiv').show();
                    $('#qssuccess').show();
                    $('#qssuccess').html('清算成功');
                }
                
                layer.msg(res.msg, {icon:1})
            }else{
                layer.close(layIndex);
                layer.msg(res.msg, {icon:2})
            }

        }

        // 提交
        $('.submit_file').click(function(){
            var f_resend = $('input[name="f_resend"]:checked').val();
            var f_start_time = $('input[name="f_start_time"]').val();
            var f_end_time = $('input[name="f_end_time"]').val();
            var data = {
                file_type: 0,
                f_resend: f_resend,
                f_start_time: f_start_time,
                f_end_time: f_end_time,
            };
            var layIndex = layer.load();
            $.post('{:url("submitFile")}', data, function(res){
                layer.close(layIndex);
                submit_file(res, data);
            }, 'json')
        })

        // 提交文件
        function submit_file(res, data){
            
            if(res.code == 1){
                $('.file_'+data.file_type).show();
                $('.file_'+data.file_type).html($('.file_'+data.file_type).attr('title') + ' ' + res.msg);

                data.file_type = data.file_type + 1;

                var layIndex = layer.load();

                $.post('{:url("submitFile")}', data, function(res){
                    layer.close(layIndex);
                    submit_file(res, data);
                }, 'json')
                
            }else if(res.code == 200){
                layer.close(layIndex);
                layer.msg(res.msg, {icon:1})
            }else{
                layer.close(layIndex);
                layer.msg(res.msg, {icon:2})
            }
            
        }

        // 清算完成
        $('.submit_qs').click(function(){
            var layIndex = layer.load();
            $.get('{:url("set_is_qs")}', function(res){
                layer.close(layIndex);
                if(res.code == 200){
                    layer.msg(res.msg, {icon:1});
                    $('.submit_qs').hide();
                }else{
                    layer.msg(res.msg, {icon:2});
                }
            }, 'json');
        })
    })

    
</script>


{/block}