<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <ul class="list-group uploader-list" id="file_list_{$form[type].name}">
            {notempty name="form[type].value"}
            <li class="list-group-item file-item"><i class="fa fa-file"></i> {$form[type].value|get_file_name} [<a
                    href="{$form[type].value|get_file_path}" class="download-file">下载</a>]</li>
            {/notempty}
        </ul>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>