<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'}" id="form_group_{$form[type].name}">
    <div class="col-xs-12 form-btn-parent">
        {eq name="form[type].ele_type" value="button"}
        <button class="form-btn btn  {$form[type].class|default='btn-primary'}" id="{$form[type].id|default=''}" type="button" {$form[type].data|default=''} {present name="form[type].disabled"}disabled{/present}><i class="{$form[type].icon|default=''}"></i> {$form[type].title|default=''}</button>
        {else/}
        <a class="form-btn btn {$form[type].class|default='btn-primary'} {present name="form[type].disabled"} disabled{/present}" id="{$form[type].id|default=''}" title="{$form[type].title|default=''}" target="{$form[type].target|default='_self'}" href="{$form[type].href|default=''}" {$form[type].data|default=''}><i class="{$form[type].icon|default=''}"></i> {$form[type].title|default=''}</a>
        {/eq}
    </div>
</div>