<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        {volist name="form[type].options" id="option"}
        <label class="css-input css-checkbox css-checkbox-{$form[type].attr.color|default='primary'} css-checkbox-{$form[type].attr.size|default='sm'} css-checkbox-{$form[type].attr.shape|default='rounded'}  {$form[type].extra_label_class|default=''}">
            <input type="checkbox" name="{$form[type].name}[]" id="{$form[type].name}{$key}" value="{$key}" <?php $key = (string)$key; ?> {in name="key" value="$form[type].value|default=''"}checked{/in} {$form[type].extra_attr|raw|default=''}><span></span> {$option|raw|htmlspecialchars}
        </label>
        {/volist}
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>