<div class="form-group col-lg-{$_layout[$form[type].name_from]['lg']|default='12'} col-md-{$_layout[$form[type].name_from]['md']|default='12'} col-sm-{$_layout[$form[type].name_from]['sm']|default='12'} col-xs-{$_layout[$form[type].name_from]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].id}">
    <label class="col-xs-12">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <div class="input-daterange input-group" data-date-format="{$form[type].format ? $form[type].format : 'yyyy-mm-dd'}" {$form[type].extra_attr|raw|default=''}>
            <input class="form-control" type="text" id="{$form[type].id_from}" name="{$form[type].name_from}" value="{$form[type].value_from|default=''}" placeholder="{$form[type].format}">
            <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
            <input class="form-control" type="text" id="{$form[type].id_to}" name="{$form[type].name_to}" value="{$form[type].value_to|default=''}" placeholder="{$form[type].format}">
        </div>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>