{php}
    $upload_image_ext = explode(',', config("upload_image_ext"));
    $upload_image_ext = json_encode($upload_image_ext);
{/php}
<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <div id="{$form[type].name}">
            <textarea style="display:none;" class="js-editormd" data-image-formats='{$upload_image_ext|default=""}' data-watch="{$form[type].watch|default=true}" name="{$form[type].name}">{$form[type].value|raw|default=''}</textarea>
        </div>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>