<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12 js-upload-files">
        <ul class="list-group uploader-list" id="file_list_{$form[type].name}">
            {notempty name="form[type].value"}
                {volist name="form[type]['value']|explode=',',###" id="vo"}
                <li class="list-group-item file-item"><i class="fa fa-file"></i> {$vo|get_file_name} [<a
                        href="{$vo|get_file_path}" class="download-file">下载</a>] [<a
                        href="javascript:void(0);" class="remove-file" data-id="{$vo}">删除</a>]</li>
                {/volist}
            {/notempty}
        </ul>
        <input type="hidden" name="{$form[type].name}" data-multiple="true" data-size="{$form[type]['size']|default=0}" data-ext='{$form[type]["ext"]|default=""}' id="{$form[type].name}" value="{$form[type].value|default=''}">
        <div id="picker_{$form[type].name}">上传多个文件</div>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>