<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <div id="file_list_{$form[type].name}" class="gallery-list">
            {notempty name="form[type].value"}
            {volist name="form[type]['value']|explode=',',###" id="vo"}
            <div class="file-item thumbnail">
                {if is_numeric($vo)}
                <img data-original="{$vo|get_file_path}" src="{$vo|get_thumb}" width="100">
                {else /}
                <img data-original="{$vo}" src="{$vo}" width="100">
                {/if}
            </div>
            {/volist}
            {/notempty}
        </div>
        <div class="clearfix"></div>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>