<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-sm-12 col-xs-12">
        <div class="block block-bordered">
            <ul class="nav nav-tabs" data-toggle="tabs" id="builder-form-group-tab">
                {volist name="form.options" id="item" key="items_key"}
                <li {eq name="items_key" value="1"}class="active"{/eq}>
                <a href="#tab-{$items_key}">{$key|htmlspecialchars}</a>
                </li>
                {/volist}
            </ul>
            <div class="block-content tab-content block-group">
                {volist name="form.options" id="items" key="items_key"}
                <div class="tab-pane row {eq name="items_key" value="1"}active{/eq}" id="tab-{$items_key}" >
                    {volist name="items" id="form_group"}
                        {switch name="form_group.type"}
                            {case value="archive"}
                                {// 档案文件 }
                                {include file="../application/common/builder/form/items/archive.html" type='_group' /}
                            {/case}

                            {case value="archives"}
                                {// 多个档案文件 }
                                {include file="../application/common/builder/form/items/archives.html" type='_group' /}
                            {/case}

                            {case value="bmap"}
                                {// 百度地图 }
                                {include file="../application/common/builder/form/items/bmap.html" type="_group" /}
                            {/case}

                            {case value="button"}
                                {// 按钮 }
                                {include file="../application/common/builder/form/items/button.html" type="_group" /}
                            {/case}

                            {case value="checkbox"}
                                {// 多选 }
                                {include file="../application/common/builder/form/items/checkbox.html" type="_group" /}
                            {/case}

                            {case value="ckeditor"}
                                {// ckeditor编辑器 }
                                {include file="../application/common/builder/form/items/ckeditor.html" type="_group" /}
                            {/case}

                            {case value="colorpicker"}
                                {// 取色器 }
                                {include file="../application/common/builder/form/items/colorpicker.html" type="_group" /}
                            {/case}

                            {case value="date"}
                                {// 日期 }
                                {include file="../application/common/builder/form/items/date.html" type="_group" /}
                            {/case}

                            {case value="daterange"}
                                {// 日期范围 }
                                {include file="../application/common/builder/form/items/daterange.html" type="_group" /}
                            {/case}

                            {case value="datetime"}
                                {// 日期时间 }
                                {include file="../application/common/builder/form/items/datetime.html" type="_group" /}
                            {/case}

                            {case value="editormd"}
                                {// markdown编辑器 }
                                {include file="../application/common/builder/form/items/editormd.html" type="_group" /}
                            {/case}

                            {case value="file"}
                                {// 单文件上传 }
                                {include file="../application/common/builder/form/items/file.html" type="_group" /}
                            {/case}

                            {case value="files"}
                                {// 多文件上传 }
                                {include file="../application/common/builder/form/items/files.html" type="_group" /}
                            {/case}

                            {case value="gallery"}
                                {// 图片相册 }
                                {include file="../application/common/builder/form/items/gallery.html" type="_group" /}
                            {/case}

                            {case value="hidden"}
                                {// 隐藏 }
                                {include file="../application/common/builder/form/items/hidden.html" type="_group" /}
                            {/case}

                            {case value="icon"}
                                {// 图标选择器 }
                                {include file="../application/common/builder/form/items/icon.html" type="_group" /}
                            {/case}

                            {case value="image"}
                                {// 单图片上传 }
                                {include file="../application/common/builder/form/items/image.html" type="_group" /}
                            {/case}

                            {case value="images"}
                                {// 多图片上传 }
                                {include file="../application/common/builder/form/items/images.html" type="_group" /}
                            {/case}

                            {case value="jcrop"}
                                {// 图片裁剪 }
                                {include file="../application/common/builder/form/items/jcrop.html" type="_group" /}
                            {/case}

                            {case value="linkage"}
                                {// 联动下拉框 }
                                {include file="../application/common/builder/form/items/linkage.html" type="_group" /}
                            {/case}

                            {case value="linkages"}
                                {// 多级联动下拉框 }
                                {include file="../application/common/builder/form/items/linkages.html" type="_group" /}
                            {/case}

                            {case value="masked"}
                                {// 格式文本 }
                                {include file="../application/common/builder/form/items/masked.html" type="_group" /}
                            {/case}

                            {case value="number"}
                                {// 数字 }
                                {include file="../application/common/builder/form/items/number.html" type="_group" /}
                            {/case}

                            {case value="password"}
                                {// 密码 }
                                {include file="../application/common/builder/form/items/password.html" type="_group" /}
                            {/case}

                            {case value="radio"}
                                {// 单选 }
                                {include file="../application/common/builder/form/items/radio.html" type="_group" /}
                            {/case}

                            {case value="range"}
                                {// 范围 }
                                {include file="../application/common/builder/form/items/range.html" type="_group" /}
                            {/case}

                            {case value="select"}
                                {// 下拉菜单 }
                                {include file="../application/common/builder/form/items/select.html" type="_group" /}
                            {/case}

                            {case value="select2"}
                                {// 下拉多选 }
                                {include file="../application/common/builder/form/items/select2.html" type="_group" /}
                            {/case}

                            {case value="sort"}
                                {// 排序 }
                                {include file="../application/common/builder/form/items/sort.html" type="_group" /}
                            {/case}

                            {case value="static"}
                                {// 静态文本 }
                                {include file="../application/common/builder/form/items/static.html" type="_group" /}
                            {/case}

                            {case value="summernote"}
                                {// summernote编辑器 }
                                {include file="../application/common/builder/form/items/summernote.html" type="_group" /}
                            {/case}

                            {case value="switch"}
                                {// 开关 }
                                {include file="../application/common/builder/form/items/switch.html" type="_group" /}
                            {/case}

                            {case value="tags"}
                                {// 标签 }
                                {include file="../application/common/builder/form/items/tags.html" type="_group" /}
                            {/case}

                            {case value="text"}
                                {// 单行文本 }
                                {include file="../application/common/builder/form/items/text.html" type="_group" /}
                            {/case}

                            {case value="time"}
                                {// 时间 }
                                {include file="../application/common/builder/form/items/time.html" type="_group" /}
                            {/case}

                            {case value="textarea|array"}
                                {// 文本框|数组 }
                                {include file="../application/common/builder/form/items/textarea.html" type="_group" /}
                            {/case}

                            {case value="ueditor"}
                                {// 百度编辑器 }
                                {include file="../application/common/builder/form/items/ueditor.html" type="_group" /}
                            {/case}

                            {case value="wangeditor"}
                                {// wang编辑器 }
                                {include file="../application/common/builder/form/items/wangeditor.html" type="_group" /}
                            {/case}
                            {default/}
                            {:extend_form_item($form_group, $_layout)}
                        {/switch}
                    {/volist}
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>