<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12 js-upload-images">
        <div id="file_list_{$form[type].name}" class="uploader-list">
            {notempty name="form[type].value"}
            <?php if(strlen($form[type]['value']) < '50'){ ?>
            {volist name="form[type]['value']|explode=',',###" id="vo"}
            <div class="file-item thumbnail">
                <img data-original="{$vo|get_file_path}" src="{$vo|get_thumb}" width="100">
                <i class="fa fa-times-circle remove-picture" data-id="{$vo}"></i>
                <i class="fa fa-fw fa-arrows move-picture"></i>
            </div>
            {/volist}
        <?php }else{ ?>
            {volist name="form[type]['value']|explode=',',###" id="vo"}
            <?php
                $img_arr    = explode('.',$vo);
                $img_count  = count($img_arr);
                if($img_count >= 3){
                    $vo = $img_arr[1].'.'.$img_arr[2];
                }
            ?>
                <div class="file-item thumbnail">
                    <img data-original="{$vo}" src="{$vo}" width="100">
                    <i class="fa fa-times-circle remove-picture" data-id="{$vo}"></i>
                    <i class="fa fa-fw fa-arrows move-picture"></i>
                </div>
            {/volist}
        <?php } ?>
            {/notempty}
        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="{$form[type].name}" data-multiple="true" data-watermark='{$form[type]["watermark"]|default=""}' data-thumb='{$form[type]["thumb"]|default=""}' data-size="{$form[type]['size']|default=0}" data-ext='{$form[type]["ext"]|default=""}' id="{$form[type].name}" value="{$form[type].value|default=''}">
        <div id="picker_{$form[type].name}">上传多张图片</div>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>