<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|clear_js}</label>
    <div class="col-xs-12">
        <select class="js-select2 form-control select-linkage" name="{$form[type].name}" id="{$form[type].name}" data-allow-clear="true" data-placeholder="请选择一项" data-url="{$form[type].ajax_url|default=''}" data-param="{$form[type].param|default=$form[type].name}" data-next-items="{$form[type].next_items}" data-extra-param="{$form[type].extra_param|default=''}">
            <option></option>
            {volist name="form[type].options" id="option"}
                <option value="{$key}" {if ($form[type].value == (string)$key)}selected{/if}>{$option|raw|clear_js}</option>
            {/volist}
        </select>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>