<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <input class="js-rangeslider form-control" type="text" id="{$form[type].name}" name="{$form[type].name}" value="{$form[type].value|default=''}" data-input-values-separator="{$form[type].input_values_separator|default=';'}" data-min="{$form[type].min|default=''}" data-max="{$form[type].max|default=''}" data-grid="{$form[type].grid|default=''}" data-grid-num="{$form[type].grid_num|default=''}" data-grid-snap="{$form[type].grid_snap|default=''}" data-from="{$form[type].from|default=''}" data-from-fixed="{$form[type].from_fixed|default=''}" data-type="{$form[type].double|default=''}" data-to="{$form[type].to|default=''}" data-to-fixed="{$form[type].to_fixed|default=''}" data-step="{$form[type].step|default=''}" data-from-min="{$form[type].from_min|default=''}" data-from-max="{$form[type].from_max|default=''}" data-to-min="{$form[type].to_min|default=''}" data-to-max="{$form[type].to_max|default=''}" data-from-shadow="{$form[type].from_shadow|default=''}" data-to-shadow="{$form[type].to_shadow|default=''}" data-keyboard="{$form[type].keyboard|default=''}" data-keyboard-step="{$form[type].keyboard_step|default=''}" data-values="{$form[type].values|default=''}" data-prefix="{$form[type].prefix|default=''}" data-disable="{$form[type].disable|default=''}" data-postfix="{$form[type].postfix|default=''}" data-min-interval="{$form[type].min_interval|default=''}" data-max-interval="{$form[type].max_interval|default=''}" data-drag-interval="{$form[type].drag_interval|default=''}" data-prettify-enabled="{$form[type].prettify_enabled|default=''}" data-prettify-separator="{$form[type].prettify_separator|default=''}" data-max-postfix="{$form[type].max_postfix|default=''}" data-decorate-both="{$form[type].decorate_both|default=''}" data-values-separator="{$form[type].values_separator|default=''}" data-hide-min-max="{$form[type].hide_min_max|default=''}" data-hide-from-to="{$form[type].hide_from_to|default=''}" {$form[type].extra_attr|raw|default=''}>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>