<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <select class="js-select2 form-control" id="{$form[type].name}" name="{$form[type].name}" data-allow-clear="true" data-placeholder="{$form[type].placeholder|default='请选择一项'}" {$form[type].extra_attr|raw|default=''}>
            <option></option>
            {volist name="form[type].options" id="option"}
            <option value="{$key}" {if ((string)$form[type].value == (string)$key)}selected{/if}>{$option|raw|clear_js}</option>
            {/volist}
        </select>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>