<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <input type="hidden" name="{$form[type].name}" value="{$form[type].value|default=''}">
    <div class="col-xs-12">
        {empty name="form[type].value"}
            <div class="form-control-static">暂无数据，无法排序</div>
        {else/}
            <div class="dd nestable" data-name="{$form[type].name}">
                <ol class="dd-list">
                    {volist name="form[type].content" id="item"}
                    <li class="dd-item" data-id="{$key}">
                        <div class="dd-handle dd3-handle">拖拽</div><div class="dd3-content">{$item|htmlspecialchars}</div>
                    </li>
                    {/volist}
                </ol>
            </div>
        {/empty}

        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>