<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <textarea class="js-summernote form-control" id="{$form[type].name}" data-width="{$form[type].width|default='100%'}" data-height="{$form[type].height|default=400}" name="{$form[type].name}" placeholder="请输入{$form[type].title}">{$form[type].value|raw|default=''}</textarea>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>