<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        <label class="css-input switch switch-{$form[type].attr.size|default='sm'} switch-{$form[type].attr.color|default='primary'} switch-{$form[type].attr.shape|default='rounded'} {$form[type].extra_label_class|default=''}" title="开启/关闭">
            <input type="checkbox" name="{$form[type].name}" id="{$form[type].name}" {notempty name="form[type].value"}checked{/notempty} {$form[type].extra_attr|raw|default=''}><span></span>
        </label>
        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>