<div class="form-group col-lg-{$_layout[$form[type].name]['lg']|default='12'} col-md-{$_layout[$form[type].name]['md']|default='12'} col-sm-{$_layout[$form[type].name]['sm']|default='12'} col-xs-{$_layout[$form[type].name]['xs']|default='12'} {$form[type].extra_class|default=''}" id="form_group_{$form[type].name}">
    <label class="col-xs-12" for="{$form[type].name}">{$form[type].title|htmlspecialchars}</label>
    <div class="col-xs-12">
        {notempty name="form[type].group"}
        <div class="input-group">
        {/notempty}

        {notempty name="form[type].group.0"}
        <span class="input-group-addon">{$form[type].group.0|raw|clear_js}</span>
        {/notempty}

        <input class="form-control" type="text" id="{$form[type].name}" name="{$form[type].name}" value="{$form[type].value|default=''}" placeholder="{$form[type].placeholder|default='请输入'.$form[type].title}" {$form[type].extra_attr|raw|default=''}>

        {notempty name="form[type].group.1"}
        <span class="input-group-addon">{$form[type].group.1|raw|clear_js}</span>
        {/notempty}

        {notempty name="form[type].group"}
        </div>
        {/notempty}

        {notempty name="form[type].tips"}
        <div class="help-block">{$form[type].tips|raw|clear_js}</div>
        {/notempty}
    </div>
</div>