@charset "utf-8";
/* CSS Document */


/*----------------------------   登录   -------------------------*/
.login_bar{padding:0px .8rem; width:100%; position:relative;}
.login_logo{ height:2.6rem; margin:1rem auto; margin-top:1.3rem;}
.login_con{ width:100%; background:rgba(255,255,255,0.1);}

.login_icon{ width:.6rem; height:.6rem; margin-right:.32rem;}
.login_con .jui_public_btn input{ height:1.333rem; -webkit-border-radius:0.6666rem; border-radius:0.6666rem; box-shadow:0px 5px 10px #ffc4c4;}
.login_link{ text-align:center; padding-bottom:1rem;}
.login_link a{ padding:0px .42666rem; color:#999;}

.login_change_icon{ display:block; position:absolute; z-index:10; right:.4266rem; top:.4266rem;}
.login_change_icon img{ width:.8rem; height:.8rem;}
.login_add_icon{ width:.6rem; height:.6rem;}
.login_add_btn{ border:2px solid #e52e2f; height:1.2rem; margin:.6rem; -webkit-border-radius:5px; border-radius:5px;}


/*--------------   注册/忘记密码   --------------*/
.reg_con{ padding:.72rem;}
.reg_con .jui_public_list{ background:#fff; border:none; margin-bottom:.4266rem;}
.reg_yzm{ color:#e52e2f;}
/*上传身份证*/
.reg_sfz_bar{ margin-left: -0.16rem; margin-right: -0.16rem; margin-bottom:.32rem;}
.reg_sfz_con{ padding: .16rem;}
.reg_sfz_con2{ padding:0px; margin-bottom:.32rem;}
.reg_sfz_img{ width:100%;}
.reg_sfz_img img,.reg_sfz_con2 img{ -webkit-border-radius:5px; border-radius:5px; width: 100%; overflow: hidden;}
.reg_sfz_img img{ height:2.7rem;}
.reg_sfz_con2 img{ height:5.4rem;}


/*----------------------------   首页   -------------------------*/
.sy_topbar{padding:.42666rem;}
.tx_img,.my_img{ width:1.6rem; height:1.6rem; margin-right:0.21333rem;}
.tx_img img,.my_img img{ width:100%; height:100%;}
.sy_level{ width:2.1rem; height:.58rem; text-align:center; background:#ffd800; color:#562000; border-radius:.27rem;}



/*----------------------------   买入/卖出   -------------------------*/
.buy_list,.buy_list:nth-child(1),.sell_list,.sell_list:nth-child(1){ border:1px solid #e52e2f; margin-top:.4266rem;}
.buy_num_bar,.sell_num_bar{ padding:0px;}
.buy_num_bar span,.sell_num_bar span{ width:2rem; height:1.1rem; line-height:.48rem; font-size:.6rem; cursor:pointer; background:#e52e2f; color:#fff;
	-webkit-flex:0 0 2rem;
	-moz-flex:0 0 2rem;
	-ms-flex:0 0 2rem;
	flex:0 0 2rem;
}
.buy_num_bar input,.sell_num_bar input{ width:1.0666rem; text-align:center;}


.buy_list_bar{ margin-top:.32rem; background:#fff; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;}
.buy_list_bar:nth-child(1){ margin:0px;}
.buy_list_con p{ font-size:.34666rem;}
.buy_list_btn{width:1.6rem; height:.6rem; line-height:.6rem; text-align:center; border-radius:5px; -webkit-border-radius:5px; margin:8px 0px; color:#fff;}


.sell_list,.sell_list:nth-child(1){ border:1px solid #047ec1;}
.sell_num_bar span{ background:#047ec1;}


/*新增代码*/
.buy_select{border:1px solid #e52e2f; /*margin-top:.4266rem;*/}
.sell_select{border:1px solid #047ec1;}
.buy_select select,.sell_select select{ padding:.32rem; background:#fff;}

.buy_num_bar2{ padding:0px; border:1px solid #e52e2f;}
.buy_num_bar2 span{ width:2rem; height:.96rem; font-size:.6rem; cursor:pointer; background:#e52e2f; color:#fff;
	-webkit-flex:0 0 1.6rem;
	-moz-flex:0 0 1.6rem;
	-ms-flex:0 0 1.6rem;
	flex:0 0 1.6rem;
}
.buy_num_bar2 input{ width:.9rem; text-align:center;}
.buy_box_btn{ padding:.53333rem 0px;}



/*----------------------------   批发票   -------------------------*/
.zichan_top_con{ position:relative; z-index:3;}
.ticket_btn{ width:1.8rem; height:.58rem; text-align:center; background:#ffd800; color:#562000; border-radius:.27rem;}
.ticket_jg{ height:5.65rem; width:100%;}

/*弹出框*/
.ticket_input{ width:1.2rem; border-bottom:1px solid #eee; text-align:center;}




/*-------------------      提现/转换/转赠     ------------------*/
.caiwu_left_text{
	-webkit-flex:0 0 2.2rem;
	-moz-flex:0 0 2.2rem;
	-ms-flex:0 0 2.2rem;
	flex:0 0 2.2rem;
}


/*-------------------     资产明细/数字资产     ------------------*/
.zichan_icon{ width:.48rem; height:.48rem; margin-right:.2666rem;}


/*-------------------     积分     ------------------*/
.zichan_bg_img{ position:absolute; left:0px; bottom:0px; width:100%; z-index:1;}



/*--------------   商城首页   --------------*/
.banner_con{}
.swiper-container{ overflow:hidden;}
.swiper-slide img{ width:100%;}

/*--------------   产品列表   --------------*/
.search_bar{ padding:.32rem .42666rem;}
.search_con{ width:100%; background:rgba(255,255,255,0.2); height:0.8rem; -webkit-border-radius:0.4rem; border-radius:0.4rem; padding:0px .32rem;}
.search_con input{ color:#fff;}


.procon_ztbar{}
.procon_ztcon{ background:#fff; padding:.4266rem; line-height:.58666rem;}
.procon_ztcon img{ max-width:100%; margin:0px auto;}
.procon_ztcon p{ line-height:.64rem;}


/*产品列表*/
.pro_bar{ padding:0.106rem;}
.pro_list{ padding:0.106rem;}
.pro_con{ background:#fff; display:block; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;}
.pro_img{ width:100%; overflow:hidden;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.pro_text{ padding:.24rem;}
.pro_tit{ color:#000; padding-bottom:3px; font-weight:700;}



/*----------------------------   产品详情   -------------------------*/
/*产品底部*/
.pro_foot_icon{ width:.5066rem;}
.pro_foot_btn{ line-height:1.3066rem; width:3rem; color:#fff; text-align:center; background:#fd5555;}
.pro_foot_btn2{ background:#fe9402;}


/*弹出框*/
.pro_gw_bar{ position:fixed; left:0px; bottom:0px; width:100%; background:#fff;}
.gw_img{ margin-top:-.4533rem; margin-right:.32rem;}
.gw_img img{ width:2.6rem; height:2.6rem; border-radius:5px; box-shadow:0px 0px 5px #eee;}
.gw_close{ position:relative; z-index:10; right:0px; top:.42666rem; width:.42666rem; height:.42666rem;}
.gw_btn{ width:100%; height:1.1733rem; line-height:1.1733rem; color:#fff; font-size:.4rem; color:#fff; text-align:center;}




/*加减按钮*/
.jui_gwc_num_bar{ border:1px solid #eee; -webkit-border-radius:5px; border-radius:5px; height:.64rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.jui_gwc_num_bar span{ width:.64rem; height:.6rem; text-align:center; line-height:.6rem; background:#fff; font-size:.4rem; cursor:pointer;}
.jui_gwc_num_bar input{ width:1.0666rem; height:.6rem; line-height:.6rem; text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;}



/*--------------   确认订单   --------------*/
.qrdd_addbar{ border:1px dashed #ccc;}
.qrdd_close{ position:absolute; z-index:2; right:.32rem; top:.42666rem; width:.42666rem; height:.42666rem;}
.qrdd_btn{ width:100%; height:1.1733rem; line-height:1.1733rem; color:#fff; font-size:.4rem; color:#fff; text-align:center;}
.pro_guige{ margin:0px; display:inline-block; -webkit-border-radius:5px; border-radius:5px; background:#f7f7f7; padding:5px .32rem; color:#666;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}



/*--------------   公告列表   --------------*/
.notice_icon{ width:1.1rem; height:1.1rem; border:1px solid #eee; margin-right:.32rem;}



.news_list{ padding:.42666rem; border-top:1px solid #f6f6f6;}
.news_listbar .news_list:nth-of-type(1){ border:none;}
.news_list_tit{ font-size:.4rem; color:#000; line-height:.6rem;}
.news_list_img{ width:2.666rem; height:2rem; overflow:hidden; -webkit-border-radius:5px; border-radius:5px; margin-left:.32rem;
	-webkit-flex:0 0 2.666rem;
	-moz-flex:0 0 2.666rem;
	-ms-flex:0 0 2.666rem;
	flex:0 0 2.666rem;
}
.news_list_img img{ width:100%; height:100%;}


/*----------------------------   新闻内页   -------------------------*/
.newscon_tit{ border-bottom:1px solid #eee; padding:.32rem .42666rem;}
.newscon_tit h2{ font-size:.42666rem!important; color:#000; font-weight:normal; padding-bottom:5px;}

.newscon_zt{ padding:.42666rem; font-size:.37333rem;}
.newscon_zt p{ font-size:.37333rem; line-height:.58666rem; margin-bottom:10px;}
.newscon_zt img{ max-width:100%; margin:0px auto;}






/*----------------------------   购物车   -------------------------*/
/*购物车店铺头部*/
.jui_gwc_shop_tit{ height:1.17333rem; padding:0rem .32rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
}
/*购物车列表*/
.jui_gwc_shop_bar{background:#fff; margin-top:.32rem;}
.jui_gwc_list{ background:#fff; margin-top:.32rem;}
.jui_gwc_list_tit{ padding:0rem .32rem; height:1.17333rem; border-bottom:1px solid #eee;}
.jui_gwc_list_titL{ padding-right:.32rem;}
.jui_gwc_list_titL span{ color:#df241b; font-size:.45333rem; margin-right:.16rem;}

.jui_gwc_list .jui_form_radio{ margin-right:.32rem;
	-webkit-align-self:center;
	-moz-align-self:center;
	-ms-align-self:center;
	align-self:center;
	-webkit-flex:0 0 auto;
	-moz-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
}
.jui_gwc_pro_img{height:2.1333rem; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;
	-webkit-flex:0 0 2.1333rem;
	-moz-flex:0 0 2.1333rem;
	-ms-flex:0 0 2.1333rem;
	flex:0 0 2.1333rem;
}
.jui_gwc_pro_img img{ width:100%; height:100%;}







/*----------------------------   个人中心   -------------------------*/
.my_img{ border:1px solid #eee; -webkit-box-shadow:0px 0px 8px #eee; box-shadow:0px 0px 8px #eee;}
.my_set{ position:absolute; right:.4266rem; top:.42666rem; width:1rem; height:1rem; text-align:right;}
.my_set img{ width:.48rem; height:.48rem; display:inline-block;}

.my_icon{ width:.5333rem; height:.5333rem; margin-right:.2666rem;}



/*----------------------------   提现方式   -------------------------*/
.tixian_list_con{ display:block; padding:.5333rem .64rem; margin-bottom:.42666rem;
	background: -webkit-linear-gradient(left,#ff8c5e,#ffb15e)!important;
	background: -o-linear-gradient(left,#ff8c5e,#ffb15e)!important;
	background: -moz-linear-gradient(left,#ff8c5e,#ffb15e)!important;
	background: linear-gradient(left,#ff8c5e,#ffb15e)!important;
}
.tixian_list_bg02{
	background: -webkit-linear-gradient(left,#63a2ff,#65b4ff)!important;
	background: -o-linear-gradient(left,#63a2ff,#65b4ff)!important;
	background: -moz-linear-gradient(left,#63a2ff,#65b4ff)!important;
	background: linear-gradient(left,#63a2ff,#65b4ff)!important;
}
.tixian_list_num,.tixian_list_num p{ font-size:22px; color:#fff; letter-spacing:3px;}
.tixian_list_numleft{ height:28px; line-height:36px;}
.tixian_list_numright{ height:28px; line-height:28px;}

.tixian_moren{ background:#fff; color:#ff8c5e;}




/*----------------------------   我的积分   -------------------------*/
.jifen_top_bar{position:fixed; left:0px; top:1.17333rem; right:0px;}
.jifen_jg{ height:4.72rem; width:100%;}



/*--------------   充值   --------------*/
.cz_icon{ width:.8rem; height:.8rem; margin:0px .24rem 0px .32rem;}
.cz_ewm{ display:block; width:75%; margin:0px auto; border:1px solid #eee;}
.cz_btn{ position:absolute; left:0px; bottom:1rem; right:0px; margin:0px auto; height:1.0666rem; text-align:center; color:#fff; background:#e52e2f; -webkit-border-radius:0px 0px 10px 10px; border-radius:0px 0px 10px 10px;}



/*----------------------------   个人资料/修改登录密码   -------------------------*/
.ziliao_left_text{
	-webkit-flex:0 0 2rem;
	-moz-flex:0 0 2rem;
	-ms-flex:0 0 2rem;
	flex:0 0 2rem;
}
.dlmm_left_text{
	-webkit-flex:0 0 2.3rem;
	-moz-flex:0 0 2.3rem;
	-ms-flex:0 0 2.3rem;
	flex:0 0 2.3rem;
}

.ziliao_sfz_bar{padding:.24rem .16rem;}


/*----------------------------   我的订单   -------------------------*/
.jui_tab_bar{}
ul.jui_tab_tit{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}
ul.jui_tab_tit li{ height:1.0666rem; background:#fff; border-bottom:2px solid #eee; font-size:.37333rem;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
ul.jui_tab_tit li.jui_tab_on{ border-bottom:2px solid #e52e2f;}
.jui_tab_con{ padding:.4266rem;}

.order_tit_bar{ position:fixed; left:0px; top:1.17333rem; right:0px;}
.order_list{ background:#fff; margin-top:.42666rem;}
.order_img{height:2.6666rem; -webkit-border-radius:5px; border-radius:5px; overflow:hidden; border:1px solid #eee; margin-right:.32rem;
	-webkit-flex:0 0 2.6666rem;
	-moz-flex:0 0 2.6666rem;
	-ms-flex:0 0 2.6666rem;
	flex:0 0 2.6666rem;
}
.order_img img{ width:100%; height:100%;}
.order_shop_total{ text-align:right; font-size:.32rem; padding:.32rem .4266rem; padding-top:0px; color:#000;}
.order_shop_bottom{ padding:.32rem .42666rem; padding-top:0px;}
.order_btn{ height:.74rem; -webkit-border-radius:.32rem; border-radius:.32rem; border:1px solid #ccc; color:#999; margin-left:.32rem; font-size:.32rem; padding:0px .32rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.order_btn2{ border:1px solid #e52e2f; color:#e52e2f;}


/*----------------------------   订单详情   -------------------------*/
.order_address_icon{ height:1.2rem;}
.ddcon_text_bar{ padding:.32rem .4266rem;}
.ddcon_text_list{ height:.69333rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
}
.ddcon_text_list p{ font-size:.32rem; color:#999;}

/*物流*/
.wlcon_jdbar{ background:#fff; padding-left:.6666rem;}
.wlcon_jdline{ border-left:1px solid #eee;}
.wlcon_jdlist{ padding:0px; margin-left:-0.16rem; position:relative;}
.wlcon_jdline .wlcon_jdlist:nth-child(1) .wlcon_jdleft{ background:center url(../icons/cicle.png) no-repeat; background-size:.32rem;}
.wlcon_jdleft{ display:block; -webkit-flex:0 0 .32rem; flex:0 0 .32rem; background:center url(../icons/cicle_ddd.png) no-repeat; background-size:.32rem;}
.wlcon_jdright{ border-top:1px solid #eee; padding:.42666rem 0px; margin-left:.42666rem;}
.wlcon_jdlist:nth-of-type(1) .wlcon_jdright{ border:none;}


/*----------------------------   我的邀请码   -------------------------*/
.yqm_bar{ padding:.8rem .4266rem;}
.yqm_img{ width:3.6rem; height:3.6rem; border:1px solid #eee;}
.yqm_img img{ width:100%; height:100%;}
.yqm_btn,.yqm_btn2{ height:1.0666rem; width:3.7333rem; margin:0rem .24rem; background:#e52e2f; color:#fff;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.yqm_btn2{ border:2px solid #ffc476; color:#ffc476; background:none; height:.9rem; width:2.8rem;}




/*----------------------------   我的团队   -------------------------*/
.team_list{ padding:.37333rem 0rem; border-bottom:1px solid #222957;}
.team_tx{ height:1.17333rem; margin-right:.24rem; border:1px solid #eee;
	-webkit-flex:0 0 1.17333rem;
	-moz-flex:0 0 1.17333rem;
	-ms-flex:0 0 1.17333rem;
	flex:0 0 1.17333rem;
}
.team_tx img{ width:100%; height:100%;}


/*----------------------------   地址列表   -------------------------*/
.address_list{ background:#fff; padding:.42666rem; margin-bottom:.42666rem;}
.address_icon{ width:.48rem; margin-left:.8rem;}
.address_addicon{ width:.58666rem; height:.58666rem}


/*----------------------------   提现账户设置   -------------------------*/
.ziliao_text{
	-webkit-flex:0 0 2.3rem;
	-moz-flex:0 0 2.3rem;
	-ms-flex:0 0 2.3rem;
	flex:0 0 2.3rem;
}




/*-------------------      报单审核列表    ------------------*/
.baodan_list{ margin-top:.32rem; background:#fff; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;}
.baodan_con p{ font-size:.34666rem;}
.baodan_btn{width:1.8rem; height:.6rem; line-height:.6rem; text-align:center; border-radius:5px; -webkit-border-radius:5px; margin:8px 0px; color:#fff;}



/*-------------------      行情 新增代码    ------------------*/
.jyhq_list_bar{ margin-top:.4266rem; background:#fff; -webkit-border-radius:5px; border-radius:5px; overflow:hidden; padding:.42666rem;}
.jyhq_list_bar:nth-child(1){ margin:0px;}
.jyhq_list_img{ width:3.6rem; height:3.6rem; -webkit-border-radius:5px; border-radius:5px; margin-right:.24rem; overflow:hidden;
	-webkit-flex:0 0 3.6rem;
	-moz-flex:0 0 3.6rem;
	-ms-flex:0 0 3.6rem;
	flex:0 0 3.6rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jyhq_list_tit{ font-weight:700; font-size:.4rem; color:#000; padding-bottom:5px;}
.jyhq_btn{ width:2.2rem; height:.8rem; background:#e85151; color:#fff; -webkit-border-radius:5px; border-radius:5px; margin-top:.32rem;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jyhq_btn2{ background:#7aa893;}

/*-------------------      行情产品详情 新增代码    ------------------*/
.hqcon_banner_bar{ overflow:hidden;}
.hqcon_banner_bar .swiper-slide img{ width:100%;}

.xqcon_guige_bar{ padding:.4266rem;}
.xqcon_guige_list{ padding:.21333rem 0px;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
}
.kqcon_foot_btn{ height:.96rem; width:100%; color:#fff; -webkit-border-radius:5px; border-radius:5px;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}

/* 持仓头部标题 新增代码 */
ul.chicang_tit{ overflow-x:scroll; width:100%; background:#fff; height:1.1333rem;}
ul.chicang_tit li{ padding:0px .32rem; white-space: nowrap;}
.chicang_tit_on{ color:#e52e2f; font-weight:700;}

